*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  html,body{
  width: 100%;
  height: 100%;
  }
  .main{
    width:100% ;
    height:100% ;
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    background-color:black;
  
  }
  .left{
    width:19% ;
    height: 99%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
  }
  .l1{
    padding: 20px;
    width:100% ;
    height: 29%;
    background-color:#101010;
    border-radius:20px;
    display: flex;
    flex-direction: column;
    align-items:start;
    gap: 20px;
    /* overflow-y: scroll; */
  }
  .l1 .home {
    width: 100%;
    height: 20%;
    padding: 5px 10px;

    font-family: monospace;
    font-size: 17px;
    display: flex;
    gap: 20px;
    color: white;
  }
  #slide{
    width: 70%;
  }
  .l1 .search {
    width: 100%;
    height: 20%;
    padding: 5px 10px;
    font-family: monospace;
    font-size: 17px;
    display: flex;
    gap: 20px;
    text-decoration: none;
    color: white;
  }
  .l1 img{
    width: 34%;
  }
  .left .l1 .home:hover{
    background-color: #333;
    border-radius: 10px;
  }
  .left .l1 .search:hover{
    background-color: #333;
    border-radius: 10px;
  }
  .l2{
    width:100% ;
    height: 60%;
    background-color:#101010;
    border-radius:20px;
  }.l2 button{
    margin-top: 15px;
    margin-left: 35px;
    margin-bottom: 8px;
    padding: 10px 40px;
    border-radius: 20px;
    border: 2px solid rgba(185, 59, 59, 0.456);
  }

    .l2 .r1{
     padding: 10px;
     width:100% ;
     font-family: monospace;
     height: 10%;
     background-color:rgba(185, 59, 59, 0.456);
     border-top-right-radius: 20px;
     border-top-left-radius: 20px;
     display: flex;
     align-items:start;
     gap: 15px;
     color: white;
   }
   .l2 .add{
     margin-left: 30%;
   }
   .play-list{
    width: 100%;
    height: 90%;
    overflow-y: scroll;
   }
   .play-list #frm-playlist{
    color: #16ff29;
   }
   .play-list #frm-playlist input{
   padding: 10px;
   border-radius: 50px;
   margin: 10px 20%;
   }
   .all-playlist{
    width: 90%;
    height:5vh;
    position: relative;
    background-color: #444;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    color: white;
    font-size: 20px;
    align-items: center;
    margin-left: 1.5vh;
    margin-bottom: 3px;
    border-top-right-radius: 20px;
     border-top-left-radius: 20px;
   }
   .all-playlist h5 , i{
    cursor: pointer;
   }
  
  #Loggout-btn{
    margin-left: 15px;
    padding: 10px 40px;
    border-radius: 20px;
    background-color: rgb(136, 222, 6);
    color: #101010;
    text-decoration: none;
    border: 2px solid rgba(48, 42, 42, 0.456);  
  }
  .right{
    overflow-y: scroll;
    padding: 15px;
    width:79% ;
    height: 96vh;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
    background-color:#101010;
    border-radius:20px;
  
  }
  .songCard{
    padding: 10px;
    width: 15%;
    position: relative;
    height: 35vh;
    border-radius: 20px;
    overflow: hidden;
    background-color: #2725256b;
    color: white;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }
  .songCard img{
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;    margin-bottom: 10px;
  
  }
  .songCard h5,p {
    margin-bottom: 6px;
    padding: 0 10px;
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 13px;
  }
  .songCard i{
    position: absolute;
    top: 60%;
    left: 70%;
    color: #16ff29;
    font-size: 35px;
    opacity: 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) ;
  
  }
  .songCard:hover i{
    position: absolute;
    top: 60%;
    opacity: 1;
    left: 70%;
    color: #16ff29;
    font-size: 35px;
  }
.music{
  width: 77vw;
  height: 15vh;
  background-color: #444;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
  top: -100%;
  padding: 0 20px 20px 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;}
#audio::-webkit-media-controls-panel {
  background-color: #1ED760;
}

#audio::-webkit-media-controls-play-button {
  background-color: rgba(12, 12, 11, 0.411);
  border-radius: 50px;
}
#audio{
  width: 100vh;
  height: 10vh;
}
.playingSong {
  color: #16ff29;
  object-fit: cover;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.music .playingSong img{
  height: 13vh;
  border: 2px solid #16ff29;
}